 __pycache__/ 
 *py.[cod]
 venv/
 *.log
 .idea/
 .env
npm-debug.log
logs/
.sass-cache/
.DS_Store
*.gz
supabase/
staticfiles/**/*.scss
staticfiles/**/*.css
staticfiles/**/*.css.map
staticfiles/**/*.*.scss
staticfiles/**/*.*.css
staticfiles/**/*.*.css.map
!staticfiles/**/style.css