.env
npm-debug.log
logs/
.sass-cache/
.DS_Store
*.gz
supabase/
staticfiles/**/main.scss
staticfiles/**/main.*.scss
staticfiles/**/main.*.css
staticfiles/**/style.*.scss
staticfiles/**/style.*.css
staticfiles/**/tailwind.*.scss
staticfiles/**/tailwind.*.css