.env
npm-debug.log
logs/
.sass-cache/
.DS_Store
*.gz
supabase/
staticfiles/**/main.scss
staticfiles/**/main.*.scss
staticfiles/**/base.scss
staticfiles/**/base.*.scss
staticfiles/**/base_tailwind.scss
staticfiles/**/base_tailwind.*.scss
staticfiles/**/base_main.scss
staticfiles/**/base_main.*.css
staticfiles/**/main.*.css
staticfiles/**/style.*.scss
staticfiles/**/style.*.css
staticfiles/**/tailwind.*.scss
staticfiles/**/tailwind.*.css
staticfiles/**/tailwind.scss
staticfiles/**/tailwind.css
staticfiles/**/_variables.*.scss
staticfiles/**/_variables.*.css
staticfiles/**/_variables.scss