{% extends 'app/base/base.html' %}

{% load static %} 

{% block title %} Hello World {% endblock %} 

{% block content %}
<h1 class="text-8xl"> Hello World </h1>
<p class="text-sky-400"> This is a simple example of a Django app. </p>
<p class="text-red-900"> This is a simple example of a Django app. </p>
<p class="text-green-900"> This is a simple example of a Django app. </p>
<p class="text-blue-900 text-4xl"> This is a simple example of a Django app. </p>

<button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" hx-post="https://httpbin.org/post" hx-swap="outerHTML" hx-target="#meuDiv">Alterar Texto</button>

<div id="meuDiv">
  Clique no botão para alterar este texto.
</div>

<button class="button-danger">Button Danger</button>
<button class="button-success">Button Success</button>

{% endblock %}