{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>{% block title %}{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="{% static 'app/assets/css/main.css' %}" rel="stylesheet" type="text/css" />

    <script src="https://unpkg.com/htmx.org@1.6.1"></script>

  </head>

  <body>
 
    {% include 'app/containers/header.html' %}

    {% block content %}{% endblock %}

    {% include 'app/containers/footer.html' %}
    
    <script src="{% static 'app/assets/js/script.js' %}"></script>

  </body>
</html>
